/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#tasks{
background-color: beige;
}

html {
  padding: 50px;
}

a{
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.NewTaskBack{
  display: flex;
  text-decoration: solid 20px;
}

.fa-solid{
  padding-top: 4px;
  padding-right: 5px;
}

#detailsShow{
  background-color: rgb(243, 243, 243);
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  border: 0.20rem solid rgb(225, 225, 225);
  border-radius: 5px;
}

#boxShow{
  height: 50px;
  border-bottom: 0.20rem solid rgb(225, 225, 225);
  margin-bottom: 20px;
}

#titleSow{
  display: flex;
  justify-content: space-between;
}

#editButton{
  background-color: rgb(243, 243, 243);
  border: 0.20rem solid rgb(225, 225, 225);
  padding: 0.3rem;
  border-radius: 5px;
}

form{
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;

}

form input {
}

#task_completed{
  color: black;
}

#boxEdit{
  display: flex;
  align-items: center;
}
